nav.navbar {
    background-color: #f46322;
    .container {
        ul.navbar-nav {
            li {
                a {
                    font-size: 1.3rem;
                    color: white;
                    font-weight: 600;
                }
            }
        }
    }
}