@import 'variable';
nav.navbar {
    background-color: $bg_orange;
    .container {
        ul.navbar-nav {
            li {
                padding: 0 .5rem;
                a {
                    font-size: 1.3rem;
                    color: white;
                    font-weight: 600;
                }
            }
        }
    }
}