@import 'variable';
.app-footer {
    background-color: $bg_orange;
    border-top: 1px solid #EAEAEA;
    padding: 25px 0;
    ul {
        list-style: none;
    }
    .container {
        .row {
            h5 {
                color: white;
                font-weight: 600;
            }
            ul {
                padding-left: 0;
                a {
                    color: white;
                }
            }
            p {
                margin-top: 2rem;
                color: white;
            }
            .social-links {
                display: flex;
                a {
                    color: white;
                    margin: 0 0.5rem;
                    width: 2rem;
                    height: 2rem;
                    font-size: 1.5rem;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}