@import 'variable';
#online-courses-page {
  background-color: $bg_orange;
  padding-bottom: 3rem;
  min-height: 100vh;
  p{
    font-weight: 500;
    text-align: justify;
  }

  #page-submitting {
    min-height: 100vh;
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 45vh;
  }

  .navbar {
    display: flex;
    justify-content: center;
  }

  .online-courses-wrapper {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 3.2rem;
      font-weight: 600;
      color: white;
      margin-top: 2rem;
      margin-bottom: 3rem;
      line-height: 1.2;
    }
    p {
      font-size: 20px;
      color: white;
    }

    form {
      //padding-top: 2rem;
    }

    input {
      border-radius: 100px;
      border: 0;
      border-bottom: 2px solid #cad5e2;
      margin: 2rem 0;
      transition: all ease 0.3s;
      padding: 1.5rem;

      &:focus {
        outline: 0;
        border: 0;
        border-bottom: 2px solid $mat_orange;
        box-shadow: none;
      }
    }

    .vue-tel-input {
      border: none;
      outline: none;
      box-shadow: none;
    }

    .vti__dropdown {
      background-color: white;
      outline: none;
      //height: 38px;
      border: 0;
      margin-bottom: 2rem;
      border-radius: 100px 0 0 100px;
      border-bottom: 2px solid #cad5e2;
    }

    .vti__input {
      height: 38px;
      font-size: 1rem;
      font-weight: 400;
      margin: 0 0 2rem 0;
      line-height: 1.5;
      color: #495057;
      padding: 1.5rem 1.5rem 1.5rem 0;
      border-radius: 0 100px 100px 0;
    }

    .g-recaptcha {
      margin-bottom: 4rem;
      display: flex;
      justify-content: center;
    }

    .button-wrapper {
      display: flex;
      justify-content: center;

      button {
        background-color: $mat_purple;
        font-size: 1.3rem;
        font-weight: bold;
        border-radius: 50rem;
      }
    }
  }
}
